.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.1s ease,
    visibility 0.1s ease;
}

/* État visible */
.modal--is-active {
  opacity: 1;
  visibility: visible;
}

.modal__overlay {
  position: absolute;
  inset: 0; /* top/right/bottom/left: 0 */
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: -1;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.modal__overlay--is-active {
  opacity: 1;
  visibility: visible;
}

.modal__body {
  background-color: var(--color-background);

  border-radius: 5px;
  width: 80%;
  min-width: 300px;
  max-width: 900px;
}

.modal__header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid var(--color-border);
}

.modal__close {
  padding: 5px;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--color-close-button);
}

.modal__close:hover {
  color: var(--color-text-muted);
  transition: all 0.2s ease;
}

.modal__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-x: hidden;
}

.modal__preview,
.modal__actions {
  flex: 1 1; /* base 300px, mais peut rétrécir */
  min-width: 200px; /* largeur minimale pour éviter que ce soit trop petit */
  height: 100%;
}

.modal__preview {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-list);
  position: relative;
}

.modal__file {
  border-radius: 5px;
  background-color: var(--color-background);
  border: 1px solid var(--color-border-list);
  gap: 12px;
  height: 200px;
  width: 150px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal__icon {
  font-size: 3em;
  background-color: var(--color-border-list);
  color: var(--color-primary);
  width: 100px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__tooltip {
  position: absolute;
  top: calc(100% - 75% - 3px);
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  text-align: center;
  min-height: 10px;
  padding: 0.2em;
  background-color: var(--color-background-tooltip);
  color: var(--color-text-inverted);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  z-index: 2;
}

.modal__file:hover .modal__tooltip {
  opacity: 1;
  visibility: visible;
}

.modal__tooltip--hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

.modal__filename {
  position: relative;
  padding: 5px;
  background-color: var(--color-background);
  font-size: 0.9em;
  color: var(--color-text);
  text-align: center;
  cursor: pointer;
  /* Empêche le débordement */
  width: 100%;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 10px;
}

.modal__button {
  padding: 6px 12px;
  border-radius: 8px;
  width: 200px;
  border: 0;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.modal__button--start {
  align-self: flex-end;
  background-color: var(--color-secondary);
  color: var(--color-text-inverted);
}

.modal__button--start:hover {
  background-color: color-mix(in srgb, var(--color-secondary), #000000 15%);
}
