.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}

/* État visible */
.modal--is-active {
  transition: all 0.2s ease;
  opacity: 1;
  visibility: visible;
}

.modal__overlay {
  position: absolute;
  inset: 0; /* top/right/bottom/left: 0 */
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: -1;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.modal__body {
  background-color: var(--color-background);
  overflow-y: auto;
  border-radius: 5px;
  width: 80%;
  min-width: 300px;
  max-width: 900px;
}

.modal__header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid var(--color-border);
}

.modal__close {
  padding: 5px;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--color-close-button);
}

.modal__close:hover {
  color: var(--color-text-muted);
  transition: all 0.2s ease;
}

.modal__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-x: hidden;
}

.modal__preview,
.modal__actions {
  flex: 1 1; /* base 300px, mais peut rétrécir */
  min-width: 200px; /* largeur minimale pour éviter que ce soit trop petit */
  height: 100%;
}

.modal__preview {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-list);
  position: relative;
}

.modal__file {
  border-radius: 1px;
  background-color: var(--color-background);
  border: 1px solid var(--color-border-list);
  gap: 12px;
  height: 200px;
  width: 150px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__icon {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  font-size: 3em;
  background-color: var(--color-border-list);
  color: var(--color-primary);
  width: 100px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__filename {
  padding: 5px;
  background-color: var(--color-background);
  font-size: 0.9em;
  color: var(--color-text);
  text-align: center;
  /* Empêche le débordement */
  width: 100%;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 10px;
}

.modal__button {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family-base);
  border: 0;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.modal__button--cancel {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: var(--color-primary);
}

.modal__button--cancel:hover {
  color: color-mix(in srgb, var(--color-primary), #000000 15%);
  text-decoration: underline;
  transition: all 0.2s ease;
}

.modal__button--start {
  align-self: flex-end;
  background-color: var(--color-secondary);
  color: var(--color-text-inverted);
}

.modal__button--start:hover {
  background-color: color-mix(in srgb, var(--color-secondary), #000000 15%);
}

.modal__field {
  /* style de mise en forme des fieldsets de formulaire */
}

.modal__field--anim {
  opacity: 0;
  visibility: hidden;
  transform: translateX(30px); /* décalé à droite au départ */
  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    visibility 0.4s ease;
}

.modal__field--anim.field--is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0); /* revient à sa position normale */
}

.modal__submit {
  justify-self: flex-end;
  align-self: flex-end;
}

.modal__tools {
  font-size: 0.7rem;
  font-weight: 500;
}

/* remplacer le fichier → action cliquable */
.modal__replace-file {
  cursor: pointer;
  color: var(--color-text);
  font-weight: 600;
  /* petite séparation visuelle */
  display: inline-block;
}

.modal__replace-file:hover {
  text-decoration: underline;
  color: #3d1d5a;
}

.modal__tool {
  margin-top: 10px;
  width: 150px;
  border-top: 1px solid var(--color-border);
  display: flex;

  justify-content: center;
}

.modal__button--replace {
  width: 100%;
  margin-top: 8px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 0.7rem;
  padding: 2px;
  color: var(--color-primary);
}
/* Media query pour les écrans de téléphone : ajouter un défilement vertical et limiter la hauteur */
@media (max-width: 768px) {
  .modal__body {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: auto;
  }
}
