.tooltip {
  position: relative;
  cursor: help; /* Curseur point d'interrogation au survol */
}

.tooltip__text {
  position: absolute;
  font-family: var(--font-family-base);
  font-size: 0.8rem;
  font-weight: 500;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 12px;
  border-radius: var(--radius-sm);
  background-color: var(--color-primary); /* Prune ENS */
  color: var(--color-text-inverted);
  display: inline-block;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  box-shadow: var(--shadow-sm);
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  z-index: 10;
  pointer-events: none;
}

/* Le petit triangle pointant vers le bas */
.tooltip__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-primary) transparent transparent transparent;
}

.tooltip:hover .tooltip__text {
  opacity: 1;
  visibility: visible;
}
