<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # On envoie TOUT vers le dossier public de manière invisible, 
    # sauf si on y est déjà pour éviter une boucle infinie.
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
