<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Indispensable pour que Linux (et XAMPP) sachent où est la base de l'URL
    RewriteBase /import-pegasus/

    # Redirection vers index.php si le fichier/dossier n'existe pas physiquement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>